.img {
    width: $img-size;
}
.zoom {
    transition: transform .2s;
    &:hover {
        transform: scale (1.1);
    }
}
.zoomContainer {
    border: $zoom-container-border;
    border-radius: $radius;
    overflow: hidden;
}
