$estilos: (
    grilla: grid, 
    centro: center,
);


.grilla2x1 {
    display: map-get($estilos, grilla);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $grilla-gap;
    justify-content: map-get($estilos, centro);
    max-width: $grilla-size;
    margin: $grilla-margin;
}
.grilla3x3 {
    @extend .grilla2x1;
    grid-template-columns: repeat(3, 1fr);

}
