@mixin espacios($margin, $padding) {
    margin: $margin;
    padding: $padding;
}
* {
	@include espacios(0px, 0px);
}
$estilos: (
    dflex: flex,
    direccion: row,
    centro: center,
    familia: MyFamily2,
);
.title {
    @include espacios(0px, $title-padding);
    display: map-get($estilos, dflex);
    flex-direction: map-get($estilos, direccion);
    justify-content: map-get($estilos, centro);
    font-family: map-get($estilos, familia);
    text-align: map-get($estilos, centro);
    font-size: $title-size;
    color: $color-title;
}
body {
    background-color: #434C5E;
}
.colorButton {
    background-color: $color-green;
    color: $color-white;
}