.contenidoFooter {
    margin-top: $contenido-footer-margin;
    padding-bottom: $contenido-footer-padding;
    text-align: center;
    background-color: $color-base-dark;
}

.contenidoFooter1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: $linea-footer;
    margin-bottom: $footer1-margin;
}	

.contenidFooter2 {
    display: flex;
    justify-content: center;
    padding-top: $footer2-padding;
    font-family: MyFamily2;
    color: $color-white;
}

.footerTitle {
    font-family: MyFamily2;
    font-size: $footer-title-size;
    color: $color-title;
}

.footerInfo {
    margin: $footer-margin;
}

.footerInfo {
    ul {
        li {
            list-style: none;
            font-family: MyFamily;
            font-size: $footer-title-size;
            a {
                text-decoration: none;
                color : $color-white ;
            }
        }
    }
}
.footerSupport {
    margin: $footer-margin;
}
.footerSupport {
    ul {
        li {
            list-style: none;
            font-family: MyFamily;
            font-size: $footer-title-size;
            a {
                text-decoration: none;
                color : $color-white ;
            }
        }
    }
}
.footerSocials {
    margin: $footer-margin;
}
.footerSocials {
    ul {
        li {
            list-style: none;
            font-family: MyFamily;
            font-size: $footer-title-size;
            a {
                text-decoration: none;
                color : $color-white ;
            }
        }
    }
}