$estilos: (
    dflex: flex,
    direccion: column,
    familia: MyFamily2,
    der: right,
    izq: left,
);

.container {
    display: map-get($estilos, dflex);
    flex-direction: map-get($estilos, direccion);
    ;
}
.nombre {
    float: map-get($estilos, izq);
}
.precio {
    float: map-get($estilos, der);
    color: $color-green;
    padding-left: $precio-padding;
}
.nombrePrecioBs {
    font-family: map-get($estilos, familia);
    font-size: $nombre-precio-size;
    color: $nomrbre-precio-color;
    padding: $nombre-precio-padding;
}
.nombrePrecioNa {
    font-family: map-get($estilos, familia );
    color: $nomrbre-precio-color;
    padding: $nombre-precio-padding;
}