$zoom-container-border: 3px solid #2E3440;
$color-green: #A3BE8C;
$color-white: #ECEFF4;
$color-base: #434C5E;
$color-base-dark: #3B4252;
$color-title: #88C0D0;
$title-padding: 80px 0px 40px 0px;
$title-size: 40px;
$precio-padding: 20px;
$icon-size: 30px;
$img-size: 100%;
$radius: 20px;

$nombre-precio-padding: 20px 0px 40px 0px;
$nomrbre-precio-color:  #8FBCBB;
$nombre-precio-size: 25px;

$grilla-gap: 0 2.5%;
$grilla-size: 1400px;
$grilla-margin: 0 auto;

$contenido-footer-margin: 80px;
$contenido-footer-padding: 50px;
$linea-footer: solid 3px #2E3440;
$footer1-margin: 50px;
$footer2-padding: 10px;
$footer-title-size: 20px;
$footer-margin: 70px;
